---
version: 2
interactions:
    - id: 0
      request:
        host: api.hellosign.com
        body: ""
        form: {}
        headers: {}
        url: https://api.hellosign.com/v3/signature_request/770e57f4c3480945ee850633daf903ed69b9eca9
        method: GET
      response:
        body: '{"signature_request":{"signature_request_id":"770e57f4c3480945ee850633daf903ed69b9eca9","test_mode":true,"title":"cool title","original_title":"awesome","subject":"awesome","message":"cool message bro","metadata":{"no":"cats","more":"dogs"},"created_at":1685474804,"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"display name","type":"text","required":true,"api_id":"api_id","editor":null,"value":null},{"name":"display name 2","type":"text","required":true,"api_id":"api_id_2","editor":null,"value":null}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/770e57f4c3480945ee850633daf903ed69b9eca9","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/770e57f4c3480945ee850633daf903ed69b9eca9","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=770e57f4c3480945ee850633daf903ed69b9eca9","requester_email_address":"sign@wheelbasepro.com","signatures":[{"signature_id":"ccad9f962bda67867707768459d00ed2","has_pin":false,"has_sms_auth":false,"has_sms_delivery":false,"sms_phone_number":null,"signer_email_address":"freddy@hellosign.com","signer_name":"Freddy Rangel","signer_role":null,"order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null},{"signature_id":"62ec80ed8b32b17da0f971fadfd212cd","has_pin":false,"has_sms_auth":false,"has_sms_delivery":false,"sms_phone_number":null,"signer_email_address":"frederick.rangel@gmail.com","signer_name":"Frederick Rangel","signer_role":null,"order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":["no@cats.com","no@dogs.com"],"template_ids":null,"client_id":"6b2d43473fdf7096960ce5bf0230fb80"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Limit-Remaining:
                - "98"
            X-Ratelimit-Reset:
                - "1685475091"
        status: 200 OK
        code: 200
        duration: 2.713777665s
