---
version: 2
interactions:
    - id: 0
      request:
        host: api.hellosign.com
        body: ""
        form: {}
        headers: {}
        url: https://api.hellosign.com/v3/signature_request/list
        method: GET
      response:
        body: '{"list_info":{"page":1,"num_pages":9937,"num_results":198731,"page_size":20},"signature_requests":[{"signature_request_id":"51ef2d13f9172c23a7d4a1b8bf83d0200ef12dbc","test_mode":true,"title":"My First Document","original_title":"Contract","subject":"Contract","message":null,"metadata":{},"created_at":1685475087,"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"c6041b_2","type":"text","required":false,"api_id":"c6041b_2","editor":null,"value":"jane@example.com"}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/51ef2d13f9172c23a7d4a1b8bf83d0200ef12dbc","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/51ef2d13f9172c23a7d4a1b8bf83d0200ef12dbc","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=51ef2d13f9172c23a7d4a1b8bf83d0200ef12dbc","requester_email_address":"sign@wheelbasepro.com","signatures":[{"signature_id":"d69288b273d0aa700a6a945cc1e09622","has_pin":false,"has_sms_auth":false,"has_sms_delivery":false,"sms_phone_number":null,"signer_email_address":"jane@example.com","signer_name":"Jane Doe","signer_role":null,"order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":[],"template_ids":null,"client_id":"6b2d43473fdf7096960ce5bf0230fb80"},{"signature_request_id":"91cf3cea73e6ea22977e5cfb93fc11da2d32fc5c","test_mode":false,"title":"Contract Agreement","original_title":"Booking #5483464 Contract Agreement","subject":"Booking #5483464 Contract Agreement","message":null,"metadata":{},"created_at":1685474993,"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_co[...]
