---
version: 2
interactions:
    - id: 0
      request:
        host: api.hellosign.com
        body: "--3393e81f5e842e844d95d0e5bd696785fb95bdb67e3f29d87c774a0c3eb4\r\nContent-Disposition: form-data; name=\"signature_id\"\r\n\r\ndeaf86bfb33764d9a215a07cc060122d\r\n--3393e81f5e842e844d95d0e5bd696785fb95bdb67e3f29d87c774a0c3eb4\r\nContent-Disposition: form-data; name=\"email_address\"\r\n\r\nfranky1@hellosign.com"
        form: {}
        headers:
            Content-Type:
                - multipart/form-data; boundary=3393e81f5e842e844d95d0e5bd696785fb95bdb67e3f29d87c774a0c3eb4
        url: https://api.hellosign.com/v3/signature_request/update/9040be434b1301e31019b3dad895ed580f8ca890
        method: POST
      response:
        body: '{"signature_request":{"signature_request_id":"9040be434b1301e31019b3dad895ed580f8ca890","test_mode":true,"title":"cool title","original_title":"awesome","subject":"awesome","message":"cool message bro","metadata":{"no":"cats","more":"dogs"},"created_at":1505240895,"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"display name","type":"text","required":true,"api_id":"api_id","editor":null,"value":null},{"name":"display name 2","type":"text","required":true,"api_id":"api_id_2","editor":null,"value":null}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/9040be434b1301e31019b3dad895ed580f8ca890","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/9040be434b1301e31019b3dad895ed580f8ca890","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=9040be434b1301e31019b3dad895ed580f8ca890","requester_email_address":"joeheth@gmail.com","signatures":[{"signature_id":"d589a15d0acbdcf9eae8724dbbfaa4a2","has_pin":false,"has_sms_auth":false,"has_sms_delivery":false,"sms_phone_number":null,"signer_email_address":"franky1@hellosign.com","signer_name":"Freddy Rangel","signer_role":null,"order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null},{"signature_id":"14fe2ee807bce07a3053a722d1ba0243","has_pin":false,"has_sms_auth":false,"has_sms_delivery":false,"sms_phone_number":null,"signer_email_address":"frederick.rangel@gmail.com","signer_name":"Frederick Rangel","signer_role":null,"order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":["no@cats.com","no@dogs.com"],"template_ids":null,"client_id":"6b2d43473fdf7096960ce5bf0230fb80"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Limit-Remaining:
                - "99"
            X-Ratelimit-Reset:
                - "1685476199"
        status: 200 OK
        code: 200
        duration: 951.053917ms
